
<div class="row-fluid">
  <div class="col-sm-5">
    <h3 class="page-header text-info text-center">Edit Research Permit for <%= @person.first_name %> <%= @person.last_name %></h3>

    <%= form_for @research_permit, url: person_research_permit_path(@person, @research_permit) do |f| %>

      <%= render "form", form: f %>

    <% end %>
  </div>
</div>
