
<h3>Leave Reasons</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @reasons.each do |rsn| %>
      <tr>
        <td><%= rsn.reason %></td>
        <td><%= link_to 'Edit', edit_leave_reason_path(rsn) %></td>
        <td><%= link_to 'Destroy', rsn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Leave Reason", new_leave_reason_path(), class: 'btn btn-primary' %>
