<h3 class="page-header text-info text-center">Languages list</h3>
<div class="row-fluid">
  <div class="span8 offset2"> 
    <table class="table table-bordered table-striped">
        <tr>
          <td class="">id_language</td>
          <td>language</td>
          <td>id region</td>
        </tr>

        <% @languages.each do |language| %>
        <tr>
           <td><%= language.id %></td>
           <td><%= language.name %></td>
           <td><%= language.region.en %></td>
        </tr>
        <% end %>
   </table>
  </div>
</div>
