<h3 class="page-header text-info text-center">New language <br/><%= image_tag("lang.png", :alt=>"home") %></h3>
<div class="row-fluid">
  <div class="span6 offset4">
    <%= form_tag "/languages" , method: "post" do %>
      <input type="text" name="name"  placeholder="name language" required/>
      <select name="region" required>
          <option value="">Region</option>
           <% @regions.each do |region| %>
           <option value="<%= region.id %>"> <%= region.name %> </option>  
           <% end %>
        </select>
      <button type="submit" class="btn btn-success">Add</button>
<% end %>
  </div>
</div>
 
