<div class="page-header">
  <h3><%= t(:Edit_Nationality) %></h3>
</div>

<%= render 'form', nationality: @nationality %>

<%= link_to t(:Show), @nationality %> |
<%= link_to t(:Back), nationalities_path %>
